<%- layout('empty') -%>

    <%- include header -%>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%- body -%>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <%- include footer -%>

    </div><!--/.fluid-container-->
