<% layout('layouts/global') -%>

<div class="btn-toolbar">
    <button class="btn btn-primary">New App</button>
</div>

<div class="well">
  <h3>Creating new apps</h3>

  36% Formatted <span class="pull-right">Please wait...</span>
  <div class="progress progress-striped active">
      <div class="bar" style="width: 36%;"></div>
  </div>
  <p>
    <button class="btn btn-primary disabled" type="button">Create</button>
    <button class="btn btn-mini" type="button">Cancel</button>
  </p>
</div>

<div class="well">
    <table class="table">
    </table>
</div>