<% layout('layouts/global') -%>

<div class="btn-toolbar">
    <button class="btn btn-primary">New Permit</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
</div>
<div class="well">
    <table class="table">
    </table>
</div>